.body {
    background-color: #FFFFE9;
}
.h2 {
    color: yellow;
}
.content-section {
    margin-bottom: 50px; 
}

.content-section img {
    margin-bottom: 20px; 
}
.highlight-text {
    font-size: 36px; 
    color: gold;    
    font-weight: bold; 
}

.content-section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.content-section.visible {
    opacity: 1;
    transform: translateY(0);
}

h2.visible, p.visible {
    transform: translateY(0);
    opacity: 1;
}

img {
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

img.visible {
    transform: translateY(0);
    opacity: 1;
}
